img {
	display:block;
}

body {
	width: 600px;
	height: 600px;
	border: 1px solid black;
}


#hat {
	position: absolute;
	left: 175px;
	top: 30px;
	z-index: 0;
}

#octopus {
	position: absolute;
	left: 200px;
	top: 100px;
	z-index: -1;
}

#glasses {
	position: absolute;
	left: 241px;
	top: 200px;
	z-index: 1;
}